<!doctype html>
<html ng-app="event">
    <head>
        <link rel="stylesheet" type="text/css" href="event.css">
    </head>
    <body ng-controller="evController">
        <div>
            <img src="cbheader.png" id="img">
        </div>
        <div class="left">
            <a href="#" ng-click="setCreation()"><h2> Applications </h2></a>
            <table>
                <tbody ng-repeat="application in applications">
                    <tr><td>
                        <a href="#" ng-click="setCurrentApp(application)"><h4> {{application.name}} </h4></a>
                    </td></tr>
                    <tr ng-show="isCurrentApp(application) && application.expand" ng-repeat="resource in resources">
                        <td><a href="#" ng-click="openEditor(resource)"> {{resource.name}} </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main">
            <form ng-show="showCreation" ng-submit="createApplication(newApplication)">
                <h2><center> Create New Application </center></h2>
                <label>Name:</label>
                <input type="text" ng-model="newApplication.name" placeholder="Enter Application name">
                <br><br>
                <button align="left" type="submit">Create from Scratch</button>
                <button align="center">Load from disk</button>
            </form>
            <div ng-show="showAppDetails && !currentApp.deploy">
                <br><br><br><br>
                <button align="left" ng-click="deployApplication()">Deploy Application</button>
            </div>
            <div ng-show="showAppDetails && currentApp.deploy">
                <br><br><br><br>
                <button align="left" ng-click="undeployApplication()">Undeploy Application</button>
            </div>
            <div ng-show="showAppDetails">
                <button align="left" ng-show="!showCreation">Save to disk</button>
            </div>
            <div ng-show="showJsonEditor" ng-model="currentApp.depcfg" ui-ace="{mode: 'json', useWrapMode:true,}">
            </div>
            <div ng-show="showJSEditor" ng-model="currentApp.handlers" ui-ace="{mode: 'javascript', useWrapMode:true,}">
            </div>
            <br><br>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="https://cdn.rawgit.com/ajaxorg/ace-builds/v1.2.3/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdn.rawgit.com/angular-ui/ui-ace/v0.2.3/ui-ace.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="event_createApp.js" type="text/javascript" charset="utf8"></script>
	    <script src="event.js" type="text/javascript" charset="utf8"></script>
    </body>
</html>

